<footer
  class="relative sitw pb-6 4k:pt-6 4k:pb-10 2k:pt-10 before:top-0 after:bottom-0 before:absolute before:w-full before:h-[2px] w-10/12 2xl:w-8/12 mx-auto before:bg-[url("/assets/dash.svg")] after:absolute after:w-full after:h-[2px] after:bg-[url("/assets/dash.svg")]">
  <div class="mx-auto text-white w-11/12 sm:flex justify-between">
    <div class="mt-6">
      <span class="font-poppins block text-center">Connect with me</span>

      <div class="grid grid-cols-3 mt-4 sm:mt-6 4k:mt-10">
        <a
          data-tippy-content="GitHub"
          href="https://github.com/marekmars"
          aria-label="GitHub"
          target="_blank"
          class="group col-span-1 m-auto">
          <svg
            class="h-5 md:h-6 lg:h-8 mx-auto"
            viewBox="0 0 25 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              class="group-hover:fill-green-400 group-active:fill-green-500"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.3038 0C5.50795 0 0 5.50795 0 12.3038C0 17.7389 3.52435 22.3513 8.41427 23.9796C9.02982 24.0906 9.25187 23.7119 9.25187 23.3863C9.25187 23.0939 9.242 22.3192 9.2383 21.2941C5.81511 22.0367 5.09223 19.6436 5.09223 19.6436C4.53465 18.2225 3.72665 17.8438 3.72665 17.8438C2.61026 17.0802 3.81177 17.0975 3.81177 17.0975C5.04782 17.1838 5.69545 18.3656 5.69545 18.3656C6.79334 20.2456 8.5771 19.7028 9.27531 19.3882C9.38756 18.5926 9.7083 18.0498 10.0586 17.7426C7.32748 17.433 4.4557 16.377 4.4557 11.6611C4.4557 10.3202 4.93556 9.2198 5.71889 8.36122C5.5943 8.04913 5.16871 6.79704 5.84101 5.10456C5.84101 5.10456 6.87352 4.77273 9.2235 6.36405C10.2271 6.09102 11.2624 5.95166 12.3025 5.94957C13.3427 5.95126 14.378 6.09063 15.3815 6.36405C17.7327 4.7715 18.764 5.10456 18.764 5.10456C19.4363 6.79704 19.0144 8.04913 18.8861 8.36122C19.6756 9.2198 20.1493 10.3189 20.1493 11.6611C20.1493 16.3894 17.2751 17.4281 14.5341 17.7328C14.972 18.1127 15.3667 18.8627 15.3667 20.0099C15.3667 21.6555 15.3519 22.9829 15.3519 23.3863C15.3519 23.7156 15.5715 24.098 16.1994 23.9771C21.0869 22.3463 24.6075 17.7377 24.6075 12.3038C24.6075 5.50795 19.0996 0 12.3038 0Z"
              fill="white"
            ></path>
          </svg>
        </a>
        <a
          data-tippy-content="LinkedIn"
          href="https://www.linkedin.com/in/marco-silva-23a722247/"
          aria-label="LinkedIn"
          target="_blank"
          class="group col-span-1 m-auto">
          <svg
            class="h-5 md:h-6 lg:h-8"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              class="group-hover:fill-green-400 group-active:fill-green-500"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2.47327e-07 1.67091C2.47327e-07 1.22776 0.176042 0.802756 0.489398 0.4894C0.802754 0.176044 1.22776 2.22756e-06 1.67091 2.22756e-06H18.3273C18.5469 -0.000356456 18.7644 0.0426049 18.9674 0.126426C19.1704 0.210248 19.3548 0.333284 19.5102 0.48849C19.6656 0.643696 19.7888 0.828024 19.8729 1.03092C19.9569 1.23382 20.0001 1.4513 20 1.67091V18.3273C20.0002 18.5469 19.9572 18.7645 19.8732 18.9675C19.7893 19.1705 19.6662 19.3549 19.5109 19.5103C19.3556 19.6656 19.1713 19.7889 18.9683 19.8729C18.7654 19.9569 18.5478 20.0001 18.3282 20H1.67091C1.45141 20 1.23405 19.9568 1.03127 19.8727C0.828487 19.7887 0.644247 19.6655 0.489077 19.5103C0.333906 19.355 0.210847 19.1707 0.12693 18.9679C0.0430121 18.7651 -0.000119178 18.5477 2.47327e-07 18.3282V1.67091ZM7.91636 7.62546H10.6245V8.98546C11.0155 8.20364 12.0155 7.5 13.5182 7.5C16.3991 7.5 17.0818 9.05727 17.0818 11.9145V17.2073H14.1664V12.5655C14.1664 10.9382 13.7755 10.02 12.7827 10.02C11.4055 10.02 10.8327 11.01 10.8327 12.5655V17.2073H7.91636V7.62546ZM2.91636 17.0827H5.83273V7.5H2.91636V17.0818V17.0827ZM6.25 4.37455C6.2555 4.62425 6.21107 4.87254 6.11931 5.10483C6.02755 5.33713 5.89032 5.54876 5.71566 5.7273C5.54101 5.90585 5.33245 6.0477 5.10223 6.14455C4.87201 6.2414 4.62476 6.29129 4.375 6.29129C4.12524 6.29129 3.87799 6.2414 3.64777 6.14455C3.41755 6.0477 3.20899 5.90585 3.03433 5.7273C2.85968 5.54876 2.72245 5.33713 2.63069 5.10483C2.53893 4.87254 2.4945 4.62425 2.5 4.37455C2.51079 3.88441 2.71308 3.41799 3.06353 3.07517C3.41399 2.73235 3.88475 2.54038 4.375 2.54038C4.86525 2.54038 5.33601 2.73235 5.68647 3.07517C6.03692 3.41799 6.23921 3.88441 6.25 4.37455Z"
              fill="white"
            ></path>
          </svg>
        </a>
        <a
          data-tippy-content="Email"
          href="mailto:nelsonmarcosilva@hotmail.com"
          aria-label="Email"
          target="_blank"
          class="group col-span-1 m-auto">
          <svg
            class="h-7 md:h-9 lg:h-11 left-0"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 -960 960 960"
            ><path
              class="group-hover:fill-green-400 group-active:fill-green-500"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280 320-200v-80L480-520 160-720v80l320 200Z"
              fill="white"
            ></path>
          </svg>
        </a>
      </div>
    </div>

    <div class="flex items-end">
      <div
        id="email"
        class="cursor-pointer mx-auto w-fit h-fit font-poppins flex items-center mt-10 sm:mt-0 justify-center">
        <img
          src="/assets/email.svg"
          alt="email"
        />
        <span class="ml-3">nelsonmarcosilva@gmail.com</span>
      </div>
    </div>
  </div>
  <div
    class="font-poppins text-center text-gray-300 text-sm tracking-wide mt-4 2k:mt-2 2k:text-lg 4k:text-xl mb-11">
    © 2023 Silva Nelson Marco. All rights reserved.
  </div>
</footer>
