---
const navs = ['Projects', 'About', 'Contact'];
---

<header class="fixed z-10 backdrop-blur-md w-full">
  <div
    class="text-white w-8/12 mx-auto relative py-4 2k:py-6 4k:py-10 flex justify-between items-center">
    <button
      role="button"
      aria-label="lyneva home page"
      class="nav group w-24 2k:w-28 4k:w-44">
      <img
        src="/assets/logo-white.svg"
        alt=""
        class="logo"
      />
    </button>
    <button class="peer group sm:hidden focus:w-0 focus:h-0">
      <img
        src="/assets/menu.svg"
        alt="open navigation"
      />
    </button>
    <nav
      class="text-2xl sm:text-base 2k:text-xl 4k:text-3xl delay-75 fixed sm:bg-transparent duration-300 peer-focus:translate-x-0 sm:translate-x-0 sm:static sm:w-auto sm:h-auto sm:pt-0 -translate-x-full text-center pt-40 backdrop-blur-md top-0 -z-10 sm:z-auto left-0 bg-black h-screen w-full sm:flex font-poppins gap-10 2k:gap-14 4K:gap-18">
      {
        navs.map((nav) => (
          <a
            role="button"
            aria-label={'view' + nav}
            class="nav block w-full cursor-pointer px-12 py-6 tracking-wider hover:text-green-400 focus:text-green-500 sm:p-0">
            {nav}
          </a>
        ))
      }
    </nav>
    <button class="peer-focus-within:inline-block hidden sm:hidden">
      <img
        src="/assets/cross.svg"
        alt="close navigation"
      />
    </button>
  </div>
</header>
<style>
  .logo {
    width: 50px;
    height: 58px;
  }
  .logo:hover {
    filter: invert(61%) sepia(44%) saturate(416%) hue-rotate(78deg) brightness(102%)
      contrast(86%);
  }
</style>
